<!DOCTYPE html>

<head>
    <title>EV Station Planner</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='/d3/d3.v7.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/d3/d3.v7.min.js') }}"></script> -->
    <!-- <link rel="shortcut icon" href="../static/elephant.png"> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

</head>

<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <div id="loader-container">
        <div id="spinner"></div>
    </div>
    <h1>EV Station Planner</h1>
    <div id="map"></div>

    <div style="display: flex; justify-content: flex-start; align-items: flex-start; gap: 20px;">
        <div>
            <label for="dateSlider">Select Year:</label>
            <input type="range" id="dateSlider" min="2010" max="2025">
            <span id="yearSpan"></span>
        </div>
        <form id="locationForm">
            <label for="location">City:</label>
            <select id="locationDropdown" name="location" required>
                <option value="" disabled selected>Select a city</option>
            </select>
        </form>
        <!--<button id="modelSend">Predict Locations</button>-->
        <div id="legend">
            <h3>Legend</h3>
            <ul>
                <li><span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: blue;"></span> Actual Station</li>
                <li><span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: red;"></span> Frank Prediction</li>
                <li><span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: green;"></span> Noah C. Prediction</li>
                <li><span style="display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: black;"></span> Noah S. Prediction</li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scriptfrank.js') }}"></script>
</body>
